.theme-dark .loader {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  animation: wave 1s ease-in infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.theme-light .overlay {
  background-color: rgba(14, 14, 14, 0.93);
}

.theme-dark .overlay {
  background-color: rgba(14, 14, 14, 0.96);
}

.theme-light .loader {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background: #255472;
  animation: waveLight 1s ease-in infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

@keyframes waveLight {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0),
    0 0 0 20px rgba(44, 77, 98, 0.8),
    0 0 0 40px rgba(80, 143, 169, 0.6),
    0 0 0 60px #8bafd0,
    0 0 0 80px #7e9fbc
  }
  100% {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 1),
    0 0 0 20px rgba(46, 90, 104, 0.8),
    0 0 0 40px rgba(70, 124, 141, 0.6),
    0 0 0 20px #89adcc,
    0 0 0 0px #7e9fbc
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 1),
    0 0 0 20px rgba(255, 255, 255, 0.2),
    0 0 0 40px rgba(255, 255, 255, 0.6),
    0 0 0 60px rgba(255, 255, 255, 0.4),
    0 0 0 80px rgba(255, 255, 255, 0.2)
  }
  100% {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0),
    0 0 0 60px rgba(255, 255, 255, 0.2),
    0 0 0 40px rgba(255, 255, 255, 0.4),
    0 0 0 20px rgba(255, 255, 255, 0.6),
    0 0 0 0px rgba(255, 255, 255, 1)
  }
}


