html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  transition: all 250ms ease-in-out;
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}