$light-bg: #fff;
$dark-bg: #191919;

:root {
  --bg: #fff;
  --primary-bg: #fff;
  --primary-bg-hover: #efefef;
  --box-shadow-btn: 0 0 10px rgba(213, 213, 213, 0.66);
  --accent-color: #7e9fbc;
  --text-color: #1f1f1f;
}

.theme-dark {
  --bg: #191919;
  --primary-bg: #2a2a2a;
  --primary-bg-hover: #191919;
  --box-shadow-btn: 0 0 10px rgba(16, 16, 16, 0.66);
  --accent-color: #fff;
  --text-color: #fff;
}

@import "scss/settings/breakpoints";
@import "scss/settings/settings";
@import "scss/components/header";
@import "scss/components/sidebar";
@import "scss/components/products";
@import "scss/components/footer";

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.main {
  &__wrapper {
    display: flex;
  }
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-accent);
  transition: 200ms ease-in-out;
  box-shadow: var(--box-shadow-btn);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-bg-hover);
    transform: scale(1.1);
    transition: all 200ms ease-in-out;

    img {
      transform: scale(1.05);
    }
  }

  &-add {
    width: 40px;
    height: 40px;
  }

  &-pagination {
    width: 38px;
    height: 38px;
  }
}